.contact-container {
    width: 100vw;
    height: 100vh;
    background: url('/contact-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;
}

.phone--container {
    position: relative;
    left: 0;
    width: 50vw;
    height: 40vh;
    transition: all 2s cubic-bezier(.5,0,.1,1);
}
.phone--container.mobile-hide {
    left: -70vw;
    transition: all 2s cubic-bezier(.5,0,.1,1);
}
.phone--container h1 {
    font-size: 2rem;
    letter-spacing: 10px;
    text-transform: uppercase;
    font-weight: 400;
    color: #f9f7f5;
    margin-left: 20vw;
    margin-bottom: 20px;
}

.phone-block, .email-block  {
    padding: 0 0 5px;
    color: hsla(0,0%,100%,.75);
}
.phone-block p, .email-block p {
    font-size: 1rem;
    font-weight: 100;
    color: #f9f7f5;
    margin: 0 0 .5vh 20vw;
    letter-spacing: 1px;
    font-family: Bell Italic;
    font-style: italic;
    width: 100%;
}
.mobile--contact {
    margin-top: 30px;
    border: 1px solid #ecebe2;
    text-transform: uppercase;
    font-size: calc(8px + .25vw);
    letter-spacing: 2px;
    background: none;
    padding: 20px 40px;
    color: #ecebe2;
    position: absolute;
    cursor: pointer;
    margin-left: 20vw;
    transition: all 2s cubic-bezier(.5,0,.1,1);
}
.mobile--contact:hover {
    background-color: #fff;
    color: #000;
    transition: all .8s ease;
}

.phone-block p:last-child, .email-block p:last-child {
    margin: 0 0 1vh 20.5vw;
}

