.contact-container {
    width: 100vw;
    height: 100vh;
    background: url('/contact-1.jpg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    align-items: center;

    .phone--container {
        width: 50vw;
        height: 40vh;
    }
    .phone--container h1 {
        font-size: 2rem;
        letter-spacing: 10px;
        text-transform: uppercase;
        font-weight: 400;
        color: #f9f7f5;
        margin-left: 20vw;
        margin-bottom: 20px;
    }

    .phone-block, .email-block  {
        padding: 0 0 5px;
        color: hsla(0,0%,100%,.75);
    }
    .phone-block p, .email-block p {
        font-size: 1rem;
        font-weight: 100;
        color: #f9f7f5;
        margin: 0 0 .5vh 20vw;
        letter-spacing: 1px;
        font-family: Bell Italic;
        font-style: italic;
    }

    .phone-block p:last-child, .email-block p:last-child {
        margin: 0 0 1vh 20.5vw;
    }
}

