.initial-loader {
    position: fixed; 
    width: 100vw; 
    height: 100vh; 
    background: black;
    z-index: 3;
    overflow: hidden;
}

.initial-loader.animate {
    background-color: black;
    -webkit-animation-name: i-loader; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: i-loader;
    animation-duration: 4s;
    animation-fill-mode: forwards;
}

/* Standard syntax */
@keyframes i-loader {
    from {background-color: black;}
    to {background-color: transparent;}
}

.logo {
    background: transparent url('/logo.png') no-repeat center top;
    background-position: center center;
    background-size: 900px;
    overflow: hidden;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    margin: 0;
    opacity: .8;
    cursor: initial;
    pointer-events: none;
}
.logo.transitions {
    background-size: 450px;
    width: 160px;
    height: 106px;
    opacity: .9;
    margin-bottom: 30px;
    transition: all 2s cubic-bezier(.5,0,.1,1);
    pointer-events: all;
    cursor: pointer;
}

.logo.transitions:hover {
    opacity: 1;
    transition: opacity .5s;

}