.cc--form.fadein-left {
    right: 0;
}

.cc--form.fadein-left input {
    right: 0;
}
.cc--form.fadein-left textarea {
    right: 0;
}
.cc--form.fadein-left label {
    right: 0;
}

.cc--form {
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ecebe2;
    position: absolute;
    right: -50vw;
    top: 0;
    transition: all 2s cubic-bezier(.5,0,.1,1);

    .contact-close {
        position: absolute;
        top: 23px;
        left: 16px;
        cursor: pointer;
        z-index: 9;

    }

    form {
        position: relative;
        z-index: 3;
        top: -5vh;

        h1 {
            font-size: 1.125rem;
            font-weight: 100;
            color: #ecebe2;
            padding: 0px 0 13px;
            font-family: Bell Italic;
            font-style: italic;
            letter-spacing: 0;
        }

        .feedback-message {
            font-family: Bell Italic;
            font-style: italic;
            color: #b9af96;
            font-size: 1.125rem;
            position: relative;
        }

        i {
            font-size: 1.125rem;
            top: 3px;
            position: relative;
            margin-right: 5px;
        }
        
        .feedback-message.fm-animate {
            top: 0;
            transition: all 2s cubic-bezier(.5,0,.1,1);
        }
        .feedback-enter {
            opacity: 0.01;
          }
          
        .feedback-enter.feedback-enter-active {
            opacity: 1;
            transition: all 2s cubic-bezier(.5,0,.1,1);
        }
        
        .feedback-leave {
            opacity: 1;
        }
        
        .feedback-leave.feedback-leave-active {
            opacity: 0.01;
            transition: all 2s cubic-bezier(.5,0,.1,1);
        }

        .error {
            color: #c53636;
        }

        > span {
            color: #c53636;
            padding: 0 0 5px 0;
            font-size: .8rem;
            display: block;
            width: 40vw;
        }
    }

    label {
        position: relative;
        padding: 10px 0;
        text-transform: uppercase;
        font-weight: 100;
        letter-spacing: 3px;
        margin: 0;
        font-size: 12px;
        display: block;
        right: -18px;
        transition: all 2s cubic-bezier(.5,0,.1,1);
        transition-delay: 1.5s;
    }

    input, textarea {
        position: relative;
        display: block;
        background: transparent;
        border: 1px solid #ecebe2;
        color: #ecebe2;
        letter-spacing: 1px;
        font-size: 14px;
        padding: 12px;
        width: 40vw;
        max-width: 40vw;
        right: -20px;
        transition: right 2s cubic-bezier(.5,0,.1,1);
        transition-delay: 1.5s;
        margin-bottom: 15px;
    }

    input.error, textarea.error {
        border-color: #c53636;
        outline: #c53636 auto 5px;
        transition: all .5s ease;
    }


    button {
        margin-top: 30px;
        border: 1px solid #ecebe2;
        text-transform: uppercase;
        font-size: calc(8px + .25vw);
        letter-spacing: 2px;
        background: none;
        padding: 20px 40px;
        color: #ecebe2;
        position: absolute;
        cursor: pointer;
        width: 10vw;
        right: 0;
        transition: all 2s cubic-bezier(.5,0,.1,1);
    }

    button:hover {
        background-color: #fff;
        color: #000;
        transition: all .8s ease;
    }
}

@media (max-width: 500px) and (orientation: portrait) { 
    .services-container {
        
        .cc--form {
            width: 100vw; 

            h1 {
                padding: 0;
                text-align: center;
            }
        }
        .contact-close {
            right: 16px;
        }
    }

}